<div class="container">
  <div>
    <h2>Calculate the invite points of the users...</h2>
  </div>
  <div class="pt-5">
    <%= form_for :file, url: '/', html: {class: "form_upload"}, :multipart => true do |f| %>
      <%= f.file_field :import_file %>
      <p style="font-size: 13px; color: red;">Upload .txt file here</p>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
